h1 a {
    font-family: 'Cuprum', sans-serif;
    color: #FCA205;
}

body {
    padding-left: 15px;
    font-family: 'Cuprum', sans-serif;
}
.page-header {
    font-family: 'Cuprum', sans-serif;
}
.game_block {
    max-width: 100%;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 10px;
    opacity: 0.8;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px; /*12pt;*/
    color: #000000;
    text-align: left;
    height: 200px;
    width: 150px;
}

.game_teams {
    line-height: 40px;
    margin-left: auto;
    align-items: center;
}

.home_team {
    left: 30px;
    display: inline-flex;
}
.guest_team {
    left: 100px;
    display:inline-flex;
    margin-left:40px;
}

.game_time {
    line-height:18px;
    -webkit-align-content: center;
    align-content: center;
    font-size: 12px; /*12pt;*/
}

.game_title1 {
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin-top: 60px;
    font-size: 15px; /*12pt;*/
}